* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

.parent__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0d192b;
}

.container {
  background-color: #14253d;

  width: 270px;
  border-radius: 1rem;
  padding: 17px;

  box-shadow: 0px 15px 15px 15px #0000005d;
}

/* IMAGEM */
.produto__imagem {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 8%;
}

/* TITULO e SUBTITULO */
.produto__nome {
  color: #ffffff;
  margin-bottom: 8%;
  font-size: 1.1rem;
}
.produto__descricao {
  color: #8bacda;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 8%;
}

/* VALOR E VALIDADE */
.produto__informacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8%;
}
.produto__valor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.produto__validade {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.valor:link,
.valor:visited {
  color: hsl(178, 100%, 50%);

  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
}
.validade {
  color: #8bacda;

  font-size: 0.85rem;
  font-weight: 400;
}

.icone__informacao {
  margin-right: 5px;
}

/* RODAPÉ */
.rodape__produto {
  display: flex;
  align-items: center;
  padding-top: 5%;
  border-top: #ffffff25 solid 0.5px;
  margin-bottom: 5%;
}
.criador__avatar {
  width: 1.5rem;
  border: solid 1px #fff;
  border-radius: 50%;
  margin-right: 5%;
}
.criador__creditos {
  color: #8bacda;

  font-size: 0.84rem;
}
.criador__nome {
  color: #fff;
}
