* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

.container__parent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 720px;
  height: 500px;

  display: grid;
  grid-template-columns: 50% 1fr;

  box-shadow: 5px 10px 20px 5px hsl(241, 100%, 89%);
  border-radius: 20px;
  overflow: hidden;
}

/* RESULTADO ----------------------------------------------------------------------------------------- */

.resultado__box {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  text-align: center;
  color: #fff;

  display: grid;
  grid-template-columns: 1fr;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  padding: 13%;
}

.resultado__titulo {
  color: hsla(222, 100%, 96%, 0.5);
  font: 1.5em;
}

.circulo {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 500px;
  text-align: center;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.total__box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultado__total {
  font-size: 4em;
}

.resultado__qtd {
  color: hsla(222, 100%, 96%, 0.5);
}

.resultado__descricao-box {
  display: grid;
  grid-template-columns: 1fr;
}

.resultado__classificacao {
  font-size: 1.5em;
}

.resultado__descricao {
  color: hsla(222, 100%, 96%, 0.5);
}

/* SUMÁRIO /* ----------------------------------------------------------------------------------------- */

.sumario__box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding: 10%;
}

.sumario__titulo {
  color: hsl(224, 30%, 27%);
  font-weight: 900;
}

.resultado__pontos {
  display: flex;
  flex-direction: column;
  gap: 7%;
  height: 100%;
}

.categoria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 5% 4%;
}

.resultado__icon {
  width: 20px;
  margin-right: 5%;
}

.resultado__categoria {
  font-weight: 800;
}

.total__questoes {
  color: hsl(0, 0%, 44%);
}

strong {
  color: hsl(224, 30%, 27%);
}

.classe__box {
  display: flex;
  align-items: center;
  gap: 5%;
}

/* BOTAO ------------------------------------------------------------------------------------------------------- */
/* .botao,
.botao:visited {
  font-weight: 700;
  background-color: hsl(224, 30%, 27%);
  color: #fff;
  border: none;
  padding: 6%;
  border-radius: 50px;
}

.botao:hover {
  background: linear-gradient(
    to bottom right,

    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  cursor: pointer;
} */

.botao {
  font-weight: 700;
  background-color: hsl(224, 30%, 27%);
  color: #fff;
  border: none;
  padding: 6%;
  border-radius: 50px;
}

.botao:hover {
  background: linear-gradient(
    to bottom right,

    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  cursor: pointer;
}

.botao:active {
  background: hsla(241, 81%, 54%, 0.792);
}

/* CATEGORIA RESULTADOS COLOCANDO CORES ---------------------------------------------------------------------------------------*/

.resultado__reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 71%, 0.191);
}
.resultado__memory {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.128);
}
.resultado__verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsl(166, 100%, 37%, 0.191);
}
.resultado__visual {
  color: hsl(234, 85%, 45%);
  background-color: hsl(234, 85%, 45%, 0.191);
}

/* RESPONSIVIDADE- TABLEET --------------------------------------------------------------------------- */

@media (max-width: 800px) and (min-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .resultado__box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    gap: 10%;
  }
  .resultado__descricao-box {
    gap: 5%;
    margin-bottom: 10%;
  }

  /* =================== TEXTO REALIZAÇÃO =================== */

  .resultado__titulo {
    font-size: 2em;
  }
  .resultado__classificacao {
    font-size: 2em;
  }
  .resultado__descricao {
    font-size: 1.5em;
    color: #ffffffa7;
  }

  /* resultado circulo */
  .resultado__total {
    font-size: 5em;
  }
  .resultado__qtd {
    font-size: 1.5em;
  }

  /* =================== SUMARIO RESPONSIVE ========== */

  .sumario__box {
    gap: 5%;
    padding: 5%;
    height: 100%;
    font-size: 1.5em;
  }
  .resultado__pontos {
    gap: 5%;
    /* justify-content: space-evenly; */
    height: 100%;
    font-size: 1em;
  }
  .categoria {
    padding: 3%;
  }
  .resultado__icon {
    width: 1.5em;
  }
  .botao {
    padding: 5%;
    font-size: 1em;
  }
}

/* RESPONSIVIDADE- MOBILE --------------------------------------------------------------------------- */

@media (max-width: 549px) and (min-width: 360px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .resultado__box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    padding: 10%;
  }
  .resultado__descricao-box {
    gap: 5%;
  }

  /* =================== TEXTO REALIZAÇÃO =================== */

  .resultado__titulo {
    font-size: 1em;
  }

  .circulo {
    width: 140px;
    height: 140px;
  }
  .resultado__total {
    font-size: 2.5em;
  }
  .resultado__qtd {
    font-size: 1em;
  }

  .resultado__classificacao {
    font-size: 1.5em;
  }
  .resultado__descricao {
    font-size: 1em;
    color: #ffffffa7;
  }
  /* =================== SUMARIO RESPONSIVE ========== */

  .sumario__box {
    gap: 5%;
    padding: 5%;
    height: 100%;
    font-size: 1em;
  }
  .resultado__pontos {
    gap: 5%;
    justify-content: space-evenly;
    height: 100%;
    font-size: 1em;
  }
  .categoria {
    padding: 3%;
  }
  .resultado__icon {
    width: 1.5em;
  }
  .botao {
    padding: 5%;
    font-size: 1em;
  }
  .botao:active {
    background-color: hsl(252, 100%, 67%);
  }
}
