* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

.container__parent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 800px;
  display: flex;
}

.resultaddo__box {
  background: ;
}

.sumario__box {
  background: ;
}
