@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-weight: 400;
}

.conteiner{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  hsl(233, 47%, 7%);;
}

.parent-content{
    width:1000px;
    height: auto;
    background-color:hsl(244, 38%, 16%);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px;
    
}

.statics{
    display: flex;
    justify-content: space-between;
    
}

/* IMAGEM */
.main-img{
    width: 480px;
    height: 100%;
    position: relative;
}

img{
    width: 480px;   
    height: 100%;
    object-fit: contain;
}

.overlay{
  
    background-color:#7b1eb4;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 50%;
}

/* TEXTO */
.title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #ffffff;
}
.word{
    color:#aa5cdb;
}

.description{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    font-size: 15px;
}

/* stats */


.statics-box{
    color:hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight:700;
    font-size: 1.2em;
    display: grid;
    row-gap: 5px;
    font-weight: 700;
}

.statics-read{
    font-weight:400;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.6);
}